<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="color: blue;">Hellocs {{content}}</h1>
    
    <!--
        code python trong html
    -->

    {%for x in range(10)%}
        {%if x % 3 == 0%}
            <h2>{{x}}</h2>
        {%endif%}
    {%endfor%}

    {% for x in cars %}
        <h2 style="color: rebeccapurple;">{{x}}</h2>
    {% endfor %}
</body>
</html>