<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự Án Nhận Diện Chữ Viết</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p><h1 style="align-items: center;">Web OCR Nhận Dạng Chữ Viết Tay</h1></p>
        <form action="/" method="post" enctype="multipart/form-data" class="mt-3">
            <div class="form-group">
                <label for="file">Upload an image</label>
                <input type="file" name="file" class="form-control-file" id="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <div class="form-group mt-3">
            <label for="prediction">Predicted digit</label>
            <input type="text" class="form-control" id="prediction" value="">
        </div>
    </div>
    
</body>
</html>